<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x.gn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Listarobotow">
            <intent-filter>
                <action android:name="android.intent.action.Listarobotow" />

                <category android:name="android.intent.category.Listarobotow" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsShadow">
            <intent-filter>
                <action android:name="android.intent.action.RobotsShadow" />

                <category android:name="android.intent.category.RobotsShadow" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsThorn">
            <intent-filter>
                <action android:name="android.intent.action.RobotsThorn" />

                <category android:name="android.intent.category.RobotsThorn" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsPyros">
            <intent-filter>
                <action android:name="android.intent.action.RobotsPyros" />

                <category android:name="android.intent.category.RobotsPyros" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsElectra">
            <intent-filter>
                <action android:name="android.intent.action.RobotsElectra" />

                <category android:name="android.intent.category.RobotsElectra" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsKatana">
            <intent-filter>
                <action android:name="android.intent.action.RobotsKatana" />

                <category android:name="android.intent.category.RobotsKatana" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsShredder">
            <intent-filter>
                <action android:name="android.intent.action.RobotsShredder" />

                <category android:name="android.intent.category.RobotsShredder" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsFlail">
            <intent-filter>
                <action android:name="android.intent.action.RobotsFLail" />

                <category android:name="android.intent.category.RobotsFLail" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsGargoyle">
            <intent-filter>
                <action android:name="android.intent.action.RobotsGargoyle" />

                <category android:name="android.intent.category.RobotsGargoyle" />
            </intent-filter>
        </activity>

        <activity android:name=".RobotsChronos">
            <intent-filter>
                <action android:name="android.intent.action.RobotsChronos" />

                <category android:name="android.intent.category.RobotsChronos" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsCrystal">
            <intent-filter>
                <action android:name="android.intent.action.PilotsCrystal" />

                <category android:name="android.intent.category.PilotsCrystal" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsSteffan">
            <intent-filter>
                <action android:name="android.intent.action.PilotsSteffan" />

                <category android:name="android.intent.category.PilotsSteffan" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsMilano">
            <intent-filter>
                <action android:name="android.intent.action.PilotsMilano" />

                <category android:name="android.intent.category.PilotsMilano" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsChristian">
            <intent-filter>
                <action android:name="android.intent.action.PilotsChristian" />

                <category android:name="android.intent.category.PilotsChristian" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsShirro">
            <intent-filter>
                <action android:name="android.intent.action.PilotsShirro" />

                <category android:name="android.intent.category.PilotsShirro" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsJeanpaul">
            <intent-filter>
                <action android:name="android.intent.action.PilotsJeanpaul" />

                <category android:name="android.intent.category.PilotsJeanpaul" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsIbrahim">
            <intent-filter>
                <action android:name="android.intent.action.PilotsIbrahim" />

                <category android:name="android.intent.category.PilotsIbrahim" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsAngel">
            <intent-filter>
                <action android:name="android.intent.action.PilotsAngel" />

                <category android:name="android.intent.category.PilotsAngel" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsCossette">
            <intent-filter>
                <action android:name="android.intent.action.PilotsCossette" />

                <category android:name="android.intent.category.PilotsCossette" />
            </intent-filter>
        </activity>

        <activity android:name=".PilotsRaven">
            <intent-filter>
                <action android:name="android.intent.action.PilotsRaven" />

                <category android:name="android.intent.category.PilotsRaven" />
            </intent-filter>
        </activity>



    </application>

</manifest>